body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Caveat', cursive;
    text-transform: uppercase;
    font-size: 3rem;
}

p {
    color: white;
}

div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    
}

img {
    border: 5px solid white;
    width: 100%;
}